node_modules
**/node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*
dist
**/dist
.output
**/.output
target
**/target
**/.turbo
**/.vite
**/.vite-temp
