# Database
DATABASE_URL=postgres://your_username:your_password@localhost:5432/your_db
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://localhost:6379
REDIS_PORT=6379

# NATS
NATS_URL=nats://localhost:4222
NATS_PORT=4222
NATS_MONITORING_PORT=8222

# API
PORT=3000

# Web (dashboard)
VITE_API_URL=http://localhost:3000
